.devise
  .row.justify-content-center
    .col-lg-5.col-md-6.col-sm-8.col-xs-10
      .card
        .card-header
          %h1.text-center Forgot your password?
        .card-body
          = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
            = devise_error_messages!
            .form-group.row
              = f.label :email, class: 'col-sm-4 col-xs-6'
              .col-sm-8.col-xs-6
                = f.email_field :email, autofocus: true, class: 'form-control'
            .actions.text-center
              = f.submit "Recover Password", class: 'btn btn-sm btn-outline-light'
        .card-footer
          = render "users/shared/links"
